annotated-doc==0.0.4
annotated-types==0.6.0
anyio==4.10.0
asttokens==3.0.1
certifi==2026.2.25
click==8.2.1
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
dnspython==2.8.0
email-validator==2.3.0
executing==2.2.1
fastapi==0.128.0
fastapi-cli==0.0.20
filelock==3.20.0
fsspec==2025.12.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
ipykernel==7.2.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.2.1
mdurl==0.1.2
mpmath==1.3.0
nest_asyncio==1.6.0
networkx==3.6.1
numpy==2.3.5
packaging==25.0
pandas==3.0.1
parso==0.8.6
pexpect==4.9.0
pillow==12.0.0
pip==26.0.1
platformdirs==4.9.2
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.12.4
pydantic_core==2.41.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
PyYAML==6.0.3
pyzmq==27.1.0
rich==14.2.0
rich-toolkit==0.17.1
scikit-learn==1.8.0
scipy==1.17.0
setuptools==80.10.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
stack_data==0.6.3
starlette==0.47.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.10.0+cpu
torcheval==0.0.7
torchvision==0.25.0+cpu
tornado==6.5.4
traitlets==5.14.3
typer==0.20.0
typer-slim==0.20.0
typing_extensions==4.15.0
typing-inspection==0.4.2
uv==0.10.6
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
wcwidth==0.6.0
websockets==15.0.1
wheel==0.46.3
